/*
* These styles are specific to the gl-toast component.
* Documentation: https://design.gitlab.com/components/toasts
*/
.toasted-container {

  padding-right: $toast-padding-right;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }

  &.bottom-left {
    bottom: $toast-offset !important;
    left: $toast-offset !important;
  }

  .toasted.gl-toast {
    border-radius: $border-radius-default;
    font-size: $gl-font-size;
    padding: 3px $toast-padding;

    .action {
      color: $blue-300;
      margin-left: $toast-offset;
      text-transform: none;
      font-size: $gl-font-size;

      @include media-breakpoint-down(xs) {
        // Ensures actions buttons are right aligned on mobile
        &:first-child {
          margin-left: auto;
        }
      }
    }

    .toast-close {
      font-size: $default-icon-size;
      padding-bottom: $gl-btn-padding;
    }
  }
}
